body .ql-editor h1 {
  padding-bottom: 36px;
}

body .ql-editor p + h1 {
  padding-top: 16px;
}

body .ql-editor h2 {
  padding-bottom: 24px;
}

body .ql-editor p + h2 {
  padding-top: 36px;
}

body .ql-editor p {
  padding-bottom: 16px;
}

body .ql-editor {
  line-height: 1.8;
}